@{
    ViewBag.Title = "About";
}
<img src="~/images/movieFan.jpg" width="375" height="375" alt="MovieFan" />

<h3>The Master Movie Fan Purpose</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate turpis augue, sed faucibus turpis sagittis nec. Sed facilisis pretium risus, id interdum elit lacinia a. Cras vitae blandit mauris. Proin venenatis facilisis tristique. Donec condimentum aliquam leo, non consectetur lorem blandit a. Suspendisse aliquam odio suscipit euismod dictum. Nullam arcu ante, hendrerit eget iaculis eu, fringilla dictum velit. Etiam eu imperdiet lectus. Vivamus aliquet sagittis fringilla.

Curabitur arcu lorem, elementum sed magna quis, mattis vulputate risus. Sed laoreet, turpis pretium tincidunt varius, mi risus tempus sapien, quis lobortis nibh ipsum et nulla. Aliquam metus odio, finibus vitae eleifend id, ultricies id arcu. Donec finibus purus eu imperdiet sollicitudin. Phasellus et nibh lacinia, auctor dui at, elementum elit. Praesent ligula arcu, mattis faucibus lacinia sed, fermentum ac ex. Mauris congue, nunc non tincidunt molestie, nisi libero ullamcorper arcu, sed malesuada nisl diam ac arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In id tempus orci. Suspendisse quis lectus hendrerit augue posuere posuere. Quisque vitae erat eu erat lobortis ultricies. Ut cursus velit ex, non porta ipsum eleifend vitae. Nam rutrum elit eget arcu eleifend consectetur. Nam eget consequat justo.

Nam consequat lectus eu leo consequat sollicitudin. Nulla elit turpis, venenatis ut neque posuere, porttitor vehicula libero. Nulla facilisi. Fusce ut mi ac purus rhoncus ornare. Curabitur commodo in metus vitae sagittis. Quisque sed felis sodales ipsum finibus malesuada. Nam at ante euismod, scelerisque odio auctor, finibus felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et imperdiet metus. In gravida quam id velit tempor aliquam. Nam malesuada augue eu dignissim dictum. Nullam fermentum nec neque et finibus.

Etiam ornare eros risus, vitae porttitor dolor bibendum tempor. Quisque convallis quam at lorem commodo, in facilisis magna accumsan. Aliquam posuere venenatis diam elementum posuere. Fusce in nisl in felis venenatis condimentum id in risus. In eu magna nulla. Fusce accumsan erat et ligula aliquet ornare. Suspendisse aliquet eget ante sed tincidunt. Mauris ut porttitor nisi. Curabitur ullamcorper sollicitudin est et congue. Etiam commodo nisl ac nisl dignissim bibendum. Nam laoreet volutpat leo eget fringilla. Nam convallis scelerisque urna ut lacinia. Nulla volutpat ullamcorper metus sit amet sodales. Praesent facilisis fringilla efficitur. Nulla facilisi. Nunc sed volutpat augue, non tristique felis.

Nullam mi purus, rhoncus ut justo vitae, lobortis gravida tellus. Sed dapibus nisi pretium mauris ultrices, ac venenatis libero efficitur. Sed lacus quam, mollis quis nulla quis, fermentum porttitor orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean nunc ipsum, euismod id ultrices quis, lacinia sit amet dolor. Suspendisse ac nibh erat. Cras gravida congue orci, elementum bibendum lorem volutpat sit amet.</p>




