@{
    ViewBag.Title = "Contact";
}
<h3>Contact us through social media</h3>

@*
<div>
<img src="~/images/ticket.jpg" width="750" height="375" alt="ticket" />
</div>
*@


    <img src="~/images/facebook.png" width="75" height="75" alt="facebook logo" />



    <img src="~/images/instagram.jpg" width="75" height="75" alt="instagram logo" />



    <img src="~/images/twitter.jpg" width="75" height="75" alt="twitter logo" />










<section>
<address>
    2504 w muhammad ali blvd<br />
    Louisville, KY 40212-6399<br />
    <abbr title="Phone">P:</abbr>
    502.915.1642
</address>
</section>

<div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</div>





<strong>
    <div>
    
    </div>
</strong>