@{
    ViewBag.Title = "Contact";
}
<aside>
    <a href="~/Home/Index">
        <img src="~/images/masterMovieFan.jpg" width="950" height="375" style="float:right" padding="50px" alt="masterMovieFan" />
    </a>
</aside>

<h3>Contact Us!</h3>

@*
    <div>
    <img src="~/images/ticket.jpg" width="750" height="375" alt="ticket" />
    </div>
*@

<a href="http://www.facebook.com">
    <img src="~/images/facebook.png" width="100" height="100" alt="Facebook.com" />
</a><br />

<a href="http://www.instagram.com">
    <img src="~/images/instagram.jpg" width="100" height="100" alt="Instagram.com" />
</a><br />

<a href="http://www.twitter.com">
    <img src="~/images/twitter.jpg" width="100" height="100" alt="Twitter.com" />
</a>

<section>
   <address>
        1234 e main st suite 123<br />
        Louisville, KY 40212-0000<br />
        <abbr title="Phone">P:</abbr>
        502.500.5000
    </address>
</section>
    


<div>
    
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    
</div>