@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us!</h2>


<div>
<img src="~/images/ticket.jpg" width="750" height="375" alt="ticket" />
</div>

<section>
<address>
    2504 w muhammad ali blvd<br />
    Louisville, KY 40212-6399<br />
    <abbr title="Phone">P:</abbr>
    502.915.1642
</address>
</section>

<div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</div>





<strong>
    <div>
    
    </div>
</strong>