@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2504 w muhammad ali blvd<br />
    Louisville, KY 40212-6399<br />
    <abbr title="Phone">P:</abbr>
    502.915.1642
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>






<strong>
    <div>
    <p>Connect Images Here</p>
    </div>
</strong>