@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/masterMovieFan.jpg" width="950" height="375" alt="masterMovieFan" />
    <h1>Master Movie Fan</h1>
    <p class="lead">Become a Master Movie Fan with your knowledge of movies, actors, and directors.  Build a collection of movies.  Also, show off a list of all of the movies you've ever seen to show the world that you truly are a Master Movie Fan.  Sign-up to become a Preferred Member for special discounts.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>new release information</h2>
        <p>
            Find out about all the new releases, recent movies, and just anything movies
        </p>
        <p><a class="btn btn-default" href="http://www.imdb.com/movies-coming-soon/?ref_=nv_mv_cs_4">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>add to your library</h2>
        <p>Download movies from our site to add to your collection</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>search the movie database</h2>
        <p>You can easily find any movie on our site and request something that you think the world needs to see</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>