@{
    ViewBag.Title = "Your Account Page";
}
<h2>Welcome Home</h2>
<div>
    <img src="~/images/cinFilmMovie.jpg" width="750" height="750" alt="cinema film movie" />
</div>
<h3>@ViewBag.Message</h3>
<h4>Your Collection</h4>







