@{
    ViewBag.Title = "Movie Collection";
}

<h2>The Movie Collection</h2>
<div>
    <img src="~/images/cinFilmMovie.jpg" width="1250" height="275" alt="cinema film movie" />

</div>
<h3>@ViewBag.Message</h3>










